@use "_mixins" as *;

#p_contact {
  #cont {
    min-height: 70vh;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    @include mq(1280px) {
      grid-template-columns: 2fr 1fr;
    }
    @include mq(500px) {
      grid-template-columns: 1fr 70px;
    }
    @include mq(420px) {
      display: flex;
      flex-direction: column;
    }
    .l {
      padding: 2em;
      padding-top: 170px;
      @include mq(768px) {
        padding-top: 100px;
      }
      .sh {
        font-size: 2.4rem;
        color: var(--g);
        line-height: 0.4;
        @include mq(1024px) {
          font-size: 1.4rem;
        }
      }
      .h {
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 30px;
        @include mq(1024px) {
          font-size: 3.4rem;
        }
        @include mq(420px) {
          font-size: 2rem;
        }
        span {
          font-size: 5rem;
          font-family: var(--fontrs);
          @include mq(1024px) {
            font-size: 4rem;
          }
          @include mq(420px) {
            font-size: 2.4rem;
          }
          svg {
            top: 30%;
          }
        }
      }
      .desc {
        font-size: 1.6rem;
        opacity: 0.5;
        font-weight: lighter;
        margin-bottom: 2em;
        @include mq(1024px) {
          font-size: 1.1rem;
        }
        @include mq(420px) {
          font-size: 0.9rem;
        }
      }
      .top {
        display: flex;
        gap: 1em;
        @include mq(550px) {
          flex-wrap: wrap;
        }
      }
      .cpart {
        margin-top: 100px;
        .btn-mail {
          background: var(--g);
          color: black;
          padding: 0.5em 2em;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          max-width: fit-content;
          @include mq(600px) {
            font-size: 1rem;
          }
        }
        .clist {
          display: flex;
          gap: 1em;
          margin: 1em 0;
          @include mq(600px) {
            gap: 0.25em;
          }
          @include mq(420px) {
            flex-wrap: wrap;
          }
          .btn-ct {
            width: 50px;
            height: 50px;
            background: var(--g);
            padding: 0.55em;
            @include mq(600px) {
              width: 30px;
              height: 30px;
              padding: 0.1em;
            }
            svg,
            img {
              width: 100%;
              color: black;
              height: 100%;
            }

            &.big {
              width: fit-content;
              display: flex;
              justify-content: space-between;
              color: black;
              padding: 0.25em 1em;
              align-items: center;
              span {
                width: 100%;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .note {
        font-size: 0.8rem;
        opacity: 0.4;
      }
    }
    .r {
      max-height: 950px;
      display: flex;
      justify-content: flex-end;
      @include mq(1280px) {
        max-width: 100%;
      }
      img {
        height: 100%;
        object-fit: cover;
        @include mq(1280px) {
          width: 100%;
        }
      }
    }
  }
}
