#p_process {
  .wire {
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 0%;
    background: url("/b/zigs.png");
    z-index: -10;
  }
  #step {
    // padding: 2em 0;
    padding-top: 200px;
    max-width: 1920px;
    margin: 0 auto;
    padding-inline: 200px;
    .sh {
      .ht {
        font-size: 4rem;
        line-height: 0.6;
      }

      .hm {
        font-size: 5rem;
        line-height: 1;
      }

      .hb {
        font-size: 5rem;
        font-family: var(--fontrs);
        width: fit-content;
        color: var(--g);
        svg {
          top: 10%;
        }
      }
    }

    .sl {
      display: flex;
      gap: 1em;
      margin-top: 50px;

      .s {
        & > p {
          font-size: 2rem;
          letter-spacing: 20px;
          opacity: 0.5;
          font-weight: lighter;
        }
        width: 100%;
        .panel {
          border: 2px solid;
          border-image: linear-gradient(140deg, #b3f50d -20%, #fc69b0) 30% 1;
          padding: 3em 4em;
          background: #171717;
          box-shadow: 0px 0px 45px black inset;
          padding-bottom: 50px;
          h2 {
            font-size: 2rem;
            line-height: 1;
            margin-bottom: 20px;
          }
          p {
            opacity: 0.4;
            margin-bottom: 2em;
            line-height: 1.4;
            font-size: 1.2rem;
            font-weight: lighter;
          }

          .socials {
            display: flex;
            gap: 1em;
            padding-bottom: 100px;
            .btn-sc {
              background: var(--g);
              color: #171717;
              padding: 0.25em;
              width: 40px;
              height: 40px;
              svg {
                width: 100%;
                height: 100%;
              }
            }
          }

          .btn-std {
            background: var(--g);
            color: #171717;
            padding: 0.25em 1em;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2em;
            margin-bottom: 160px;
            svg {
              width: 30px;
              height: 30px;
              scale: 1.4;
            }
          }

          .stages {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 1em;
            .stage {
              background: #262626;
              padding: 0.5em 1.3em;
              .smol {
                font-weight: lighter;
              }
            }
          }
        }
      }
      .ca {
        background: #171717;
        height: 300px;
        display: flex;
        align-items: center;
        margin-top: 200px;
        svg {
          width: 30px;
          height: 30px;
          color: var(--g);
        }
      }
    }
  }
  #priority {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 0;
    position: relative;
    .dprio {
      position: absolute;
      right: 0%;
      top: -5%;
    }
    .l {
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .r {
      background: #1d1d1d;
      padding: 3em 0 3em 3em;
      .panel {
        width: 100%;
        height: 100%;
        background: #101010;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15%;
        text-align: right;
        h2 {
          margin-bottom: 2em;
          .smol {
            font-size: 2.5rem;
            font-weight: lighter;
          }

          .hstroke {
            font-size: 3rem;
            position: relative;
            z-index: 1;
          }
        }
        p {
          opacity: 0.4;
          margin-bottom: 2em;
        }
      }
    }
  }
  #cards {
    overflow: hidden;
    position: relative;
    .container {
      display: flex;
      justify-content: center;
      gap: 100px;
      margin-top: 200px;
      position: relative;
      margin-bottom: 200px;
    }
    .tbg {
      top: 20%;
      z-index: -2;
      font-size: 15rem;
      animation-duration: 200s;
    }
    .circle {
      width: 1100px;
      height: 1100px;
      background: #333333;
      border-radius: 50%;
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%) translateY(50%);
    }
    .card {
      width: 425px;
      border: 2px solid;
      border-image: linear-gradient(140deg, #b3f50d -20%, #fc69b0) 30% 1;
      background: linear-gradient(to bottom, #171717, #0c0c0c);
      padding: 3em;
      & > .icon {
        background: white;
        width: 80px;
        height: 80px;
        margin-bottom: 1em;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      &.one,
      &.three {
        transform: translateY(50px);
      }
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 50px;
        height: 50px;
        background: var(--p);
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
      }
      h2 {
        margin-bottom: 1em;
      }

      p {
        opacity: 0.5;
        line-height: 1.4;
      }

      .points {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        gap: 1em;
        .point {
          display: grid;
          grid-template-columns: 40px 1fr;
          .icon {
            background: var(--p);
            color: black;
            padding: 0.25em;
            width: 40px;
            svg {
              width: 100%;
              height: 100%;
            }
          }
          p {
            height: 100%;
            width: 100%;
            background: #393939;
            padding: 0.5em;
          }
        }
      }
    }
  }
}
