@use "_mixins" as *;

#p_career {
  min-height: 1500px;
  .bh {
    height: 400px;
    --bg: url("/g/banner2.png");
    background: var(--bg), rgb(32, 32, 32);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    .confine {
      max-width: min(1500px, 90%);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      .sh {
        font-size: 4rem;
        color: var(--p);
        text-shadow: 0px 0px 4px black;
        line-height: 1;
        @include mq(768px) {
          font-size: 2rem;
        }
      }
      .h {
        font-size: 5rem;
        line-height: 1;
        display: flex;
        align-items: center;
        gap: 0.2em;
        @include mq(768px) {
          font-size: 3rem;
          white-space: nowrap;
        }
        @include mq(420px) {
          font-size: 2rem;
        }
        .hstroke {
          font-size: 4rem;
          font-family: var(--fontrs);
          position: relative;
          z-index: 1;
          color: var(--g);
          @include mq(768px) {
            font-size: 2rem;
          }
          @include mq(420px) {
            font-size: 1.5rem;
          }
          svg {
            top: 80%;
            z-index: 2;
          }
        }
      }
    }
  }
  article {
    max-width: min(1280px, 90%);
    margin: 100px auto;
    .rowimg {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2em;
      img {
        aspect-ratio: 16/9;
        width: 100%;
      }
      @include mq(550px) {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include mq(420px) {
          grid-template-columns: 1fr;
        }
        img:last-child {
          display: none;
        }
      }
    }

    .rowtext {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5em;
      margin: 5em 0;
      @include mq(420px) {
        grid-template-columns: 1fr;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 2em;
        font-weight: lighter;
        opacity: 0.5;
        @include mq(768px) {
          font-size: 1rem;
        }
        strong {
          font-weight: bold;
        }
      }
    }
  }
  padding-bottom: 200px;

  .working {
    background: url("/b/p_wavy.png"), var(--g);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-blend-mode: exclusion;
    align-items: center;
    padding: 40px 0;
    h2 {
      color: black;
      margin: 0.25em 0;
      font-size: 3rem;
      @include mq(768px) {
        font-size: 2rem;
      }
      @include mq(420px) {
        font-size: 1.2rem;
      }
    }
    .btn-apply {
      background: black;
      color: white;
      max-width: fit-content;
      font-weight: bold;
      padding: 0.5em 2em;
    }
  }
}
