@use "_mixins" as *;
#p_faq {
  #fh {
    background: black;
    margin-top: 100px;
    .confine {
      max-width: 1600px;
      margin: 0 auto;
      padding: 4em;
      h2 {
        font-size: 6.5rem;
        @include mq(1280px) {
          font-size: 5rem;
        }
        @include mq(768px) {
          font-size: 3rem;
        }
      }
      p {
        margin: 3em 0;
        font-size: 1.4rem;
        max-width: 900px;
        opacity: 0.3;
        @include mq(550px) {
          font-size: 1rem;
        }
      }
      .hstroke {
        font-family: var(--fontrs);
        color: var(--g);
        position: relative;
        z-index: 1;
        font-size: 5rem;
        line-height: 1.2;
        @include mq(768px) {
          font-size: 3rem;
        }
        @include mq(550px) {
          font-size: 2rem;
        }
        svg {
          top: 50%;
        }
      }
    }
  }
  padding-bottom: 500px;
  #fl {
    border: 2px dashed var(--g);

    max-width: 1280px;
    margin: 100px auto;
    .infinitext {
      top: 40%;
      animation-duration: 100s;
    }
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    @include mq(420px) {
      padding: 0.55em;
    }
    .drop {
      background: black;
      padding: 3em;
      @include mq(1024px) {
        padding: 2em;
      }
      @include mq(600px) {
        padding: 1em;
      }

      .top {
        display: flex;
        justify-content: space-between;
        gap: 0.25em;
        @include mq(768px) {
          h2 {
            font-size: 1.2rem;
          }
        }
        @include mq(550px) {
          font-size: 1rem;
        }
        .btn-drop {
          background: var(--p);
          width: 50px;
          color: black;
          padding: 0.5em;
          @include mq(420px) {
            height: 40px;
          }
          svg {
            width: 30px;
            height: 30px;
            scale: 2;
            transition: all 500ms ease;
          }
        }
      }

      .content {
        margin: 1em 0;
        font-size: 1.4rem;
        opacity: 0.54;
        letter-spacing: 1px;
        transition: all 500ms ease;
        overflow-y: auto;
        @include mq(768px) {
          font-size: 1rem;
        }
        @include mq(550px) {
          font-size: 0.9rem;
        }
        p {
          margin-bottom: 1em;
        }
        a {
          color: var(--p);
        }
        ul {
          padding-left: 1em;
        }
      }
      &.act {
        .btn-drop {
          rotate: 90deg;
        }
        .content {
          // opacity: 0;
          max-height: 500px;
        }
      }
      &.clo {
        .content {
          // opacity: 0;
          max-height: 0px;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
